<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Accelerometer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>ActionsDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>BillboardTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>CameraMovement.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>CameraZoomAndFocus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CubeOverCamera.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>FollowCamera.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>GesturesDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KeyframeMeshAnimationTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>KeyframePODAnimationTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>Lighting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>NibDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>Occlusion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>PODTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>ParticleSystem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>PhysicsTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PrimitivesDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ShaderMaterialDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>ShadowMappingTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>SkinningTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>SpringCamera.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>TerrainMeshTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>TerrainPhysics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>TextureOptionsTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Tutorial1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Tutorial2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>Tutorial3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Tutorial4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Tutorial5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TweeningDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>UIDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>ViewportTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>build all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>isgl3d.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>isgl3dbullet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1713BABD1357979B002C3288</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1713BAE21358AFF6002C3288</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>171CB84913195C65003712F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>171CB8D713196403003712F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>171CB90913196613003712F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>171CB92F131966E7003712F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>171CB951131967C1003712F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>171CB97C13196880003712F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1731213D12FB3D6500861D84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1731217812FB562900861D84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>173121B312FB58A000861D84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1731225812FC764100861D84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1731229B12FC797300861D84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>173122D612FC7B9300861D84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1731232012FC7DFA00861D84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1731237412FC82BD00861D84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>173123A212FC841000861D84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>173123EC12FD627B00861D84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1755358C1360B4B700C593E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1762371712F9CE06008CDB4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17801A46131A955A0045803F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>178A62E31368558A00BEFD2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17A3E643135A1C380022BAD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17A481AD13F129880098AC3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17AD09D113434FD7005F5F7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17BE1746132E94E400D053BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17C2F0B513F6CCEE0002C7D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17CDF5AE136753FA00893070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17D0774313F4A643003F6E46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17F1D86112F88A4A008D39E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17F1E06A12F89091008D39E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17F7A83C12FA0BB000C7BB82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17F7A87012FA0D6100C7BB82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B3674B014DF017E0086B496</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2AAC07D0554694100DB518D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
